<body data-cartid="{{cartId}}">
  <h2>{{product.title}}</h2>
  <p>Descripción: {{product.description}}</p>
  <p>Precio: ${{product.price}}</p>
  <p>Stock: {{product.stock}}</p>
  <p>Categoría: {{product.category}}</p>

  <label for="qty">Cantidad:</label>
  <input id="qty" type="number" value="1" min="1" />
  <button onclick="agregarAlCarrito('{{product._id}}')">Agregar al carrito</button>

  <script src="/js/index.js"></script>
</body>